@model VinoVoyage.ViewModel.UserViewModel




<div class="popup-container">
    <div class="popup-box">
        <div class="popup-content">
            <a href="javascript:void(0)" class="closebtnCart" onclick="closeNav(WishWindow)">&times;</a>
            <h1>hey</h1>
            <button class="popup-closeBtn"></button>
        </div>
    </div>
</div>