@model VinoVoyage.ViewModel.UserViewModel

@using VinoVoyage.Models

<div class="homepage-containerCustomer">

    <!-- content -->
    <div class="home-content">
        <!-- section 1 -->
        <div class="home-text-content" style="background-color: #dbcabd; font-size: 60px; margin: 0">VINO VOYAGE</div>
        <div class="home-text-content" style="background-color: #dbcabd; font-size: 60px; margin: 0">welcome back @Model.user.Username</div>
        <div class="homegap"></div>

        <!-- section 2  -->
        <div class="first-content">
            <div class="home-prodCard">
                <div class="imageContainer">
                    <img src="~/UI/img/home/glass.jpg" alt="wine" style="width:100%" class="prodImage" />
                </div>
                <div class="prodDesctiption">
                    <h1>active users: @Model.users.Count</h1>
                </div>
            </div>
            <div class="home-prodCard">
                <div class="imageContainer">
                    <img src="~/UI/img/home/girladmin.jpg" alt="wine" style="width:100%" class="prodImage" />
                </div>
                <div class="prodDesctiption">
                    <h1>admins: @Model.users.Count(user => user.Role == "admin")</h1>
                </div>
            </div>
            <div class="home-prodCard">
                <div class="imageContainer">
                    <img src="~/UI/img/home/shipped.jpg" alt="wine" style="width:100%" class="prodImage" />
                </div>
                <div class="prodDesctiption">
                    <h1>orders made: @Model.shipping.Count</h1>
                </div>
            </div>
        </div>
        <div class="homegap"></div>
    </div>
</div>
