@model VinoVoyage.Models.UserModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VinoVoyage</title>
    <link rel="stylesheet" href="~/UI/css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .popup {
            display: none;
        }
    </style>
</head>
<body>
    <!-- top navigation bar -->
    <div class="topnav" id="myTopnav">
        <a href="@Url.Action("HomePage","User")"><i class="fa fa-home"></i> VINOVOYAGE</a>
        <a onclick="toggleSignupPopup()"><i class="fa fa-user-plus"></i> REGISTER</a>
        <a onclick="togglePopup()"><i class="fa fa-sign-in"></i> LOGIN</a>
        <a onclick="startCustogglePopup('guestConPopup')"> CONTINUE AS GUEST</a>
    </div>

    <!-- successful login popup -->
    <div id="LoginConfPopup" class="popup" style="width:600px;">
        <span onclick="document.getElementById('LoginConfPopup').style.display='none'" class="close" title="Close Modal">&times;</span>
        <p>Welcome back to VV </p><i class="fa fa-heart"></i>
    </div>

    <!-- login popup -->
    <div id="loginPopup" class="popup">
        <span onclick="document.getElementById('loginPopup').style.display='none'" class="close" title="Close Modal">&times;</span>
        @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @id = "loginForm", }))
        {
            <div class="popup-container">
                <div class="popup-colCenter">
                    <div class="titles" style="text-align:start;">VINOVOYAGE</div>
                    <h3>Login</h3>
                    <h3></h3>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="hometTitles">username</div>
                    <input type="text" id="username" name="UserName" placeholder="" required />
                    <div class="hometTitles">password</div>
                    <input type="password" id="password" name="Password" placeholder="" required />
                    <button class="popUpButton" id="showLoginForm" type="submit" style="margin: 13px 0 0 0;">Login</button>
                    <div id="LoginValidationErrors" class="errorMsg"></div>
                </div>
            </div>
        }
    </div>

    <!-- confirm guest popup -->
    <div id="guestConPopup" class="popup" style="width:600px;">
        <span onclick="document.getElementById('guestConPopup').style.display='none'" class="close" title="Close Modal">&times;</span>
        <p>You better signup. Come be Part of the Vvoyage</p>
        <button onclick="gotoGuest()">Prefer to stay a guest </button>
        <button onclick="toggleSignupPopup()" style="width:40%; margin-left:30px;">Signup now!</button>
    </div>

    <!-- confirm signup popup -->
    <div id="SignUConfPopup" class="popup" style="width:600px;">
        <span onclick="document.getElementById('SignUConfPopup').style.display='none'" class="close" title="Close Modal">&times;</span>
        <p>Thank you for joining us, soon we will start our voyage</p>
    </div>

    <!-- signup popup -->
    <div id="SignupPopup" class="popup">
        <span onclick="document.getElementById('SignupPopup').style.display='none'" class="close" title="Close Modal">&times;</span>
        @using (Html.BeginForm("SignUp", "User", FormMethod.Post, new { @id = "signupForm" }))
        {
            <div class="popup-container">
                <div class="popup-colCenter">
                    <div class="titles" style="text-align:start;">VINOVOYAGE</div>
                    <h3>join us now</h3>
                    <div class="hometTitles">Username</div>
                    <input type="text" id="Regusername" name="UserName" placeholder="3-10 characters" required />
                    <div class="hometTitles">Password</div>
                    <input type="password" id="Regpassword" name="Password" placeholder="6-10 characters" required />
                    <div class="hometTitles">Email</div>
                    <input type="email" id="Regemail" name="Email" placeholder="example@gmail.com" required />
                    <button class="popUpButton" type="submit" style="margin: 13px 0 0 0;">Signup</button>
                    <div id="registervalidationErrors" class="errorMsg"></div>
                </div>
            </div>
        }
    </div>

    <!-- main window -->
    <div class="window">
        @Html.Partial("_home")
    </div>
    <div id="welcomePopup" class="popup" style="width:600px;">
        <span onclick="document.getElementById('welcomePopup').style.display='none'" class="close" title="Close Modal">&times;</span>
        <p>Welcome to VinoVoyage. Please verify you are above legal drinking age to enter.</p>
        <button onclick="redirectToBlank()">I haven't turned 18 yet</button>
        <button onclick="getIn()" style="width:40%; margin-left:30px;">I'm over 18. Let's go!</button>
    </div>

    <div id="bthn" lang="en"></div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/UI/JS/HomePagejs.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>