html, body {
    background-color: #f4e1d2;
}
/* --------------- basic fonts --------------- */
body {
    overflow: auto;
}

h1 {
    font-family: 'Lucida Console';
    font-weight: 200;
    font-size: 16px;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: 'Lucida Console';
    font-weight: 200;
    font-weight: 150;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

p, .custom-label {
    font-family: 'Lucida Console';
    font-weight: 200;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

/* --------------------------------------------------------------- */
/* ---------------------  top navigation bar --------------------- */







/* --------------------------------------------------------------- */
/* --------------- dropdown for top navigation bar --------------- */





/*.topnav .aDropdown .dropA {
    color: black;
    min-width: 107px;
}*/
/*.topnav .aDropdown:hover .dropA {
    color: black;
    background-color: #bc5a45;
    z-index: 1000;
}*/
/*.topnav .aDropdown:hover .dropContent {
    display: flex;
    background-color: #bc5a45;
    color: black;
}*/
/*.topnav .aDropdown .dropContent:hover {
    display: flex;
    color: white;
}*/
/*.topnav .aDropdown .dropContent {
    display: none;
    background-color: #f9f9f9;
    margin: 0 0 0 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000000;
    width: fit-content;
    height: 29px;
    padding: 2px;
}*/
/*.topnav .aDropdown .dropContent a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 3px;
    margin: 3px;
    width: 100px;
}*/
.dropdown {
    float: left;
    overflow: hidden;
}
.topnav input[type=text] {
    float: inherit;
    border: none;
    font-size: 14px;
    background-color: #f1f1f1;
    color: black;
    height: 20px;
    font-family: 'Lucida Console';
    text-transform: uppercase;
    padding: 0 0 0 10px;
    border-radius: 10px;
}
.searchButton {
    background: black;
    font-size: 10px;
    border: none;
    cursor: pointer;
    width: 20px;
    margin: 0 0 0 15px;
    height: 20px;
    border-radius: 100px;
    padding: 5px 0 3px 0;
}
/*.searchdiv{
    padding:10px 10px;
}*/

.searchForm {
    display: flex;
    flex-flow: row;
    align-items: normal;
    float: right;
    margin: 5px 15px 0 0;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #bc5a45;
}

/*    .dropdown button:hover {
        background-color: #bc5a45;
        color: white;
    }*/

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown .dropbtn i {
        display: inline;
        margin-right: 8px;
    }

    .dropdown .dropbtn {
        cursor: pointer;
        border: none;
        outline: none;
        color: black;
        background-color: inherit;
        margin: 0;
        font-family: 'Lucida Console';
        font-size: 14px;
        text-transform: uppercase;
        padding: 8px 10px 0 3px;
        display: flex;
        flex-flow: row;
    }

.dropdown .dropdown-content {
    display: none;
    text-align: left;
    position: fixed;
    background-color: #f4e1d2;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

        .dropdown .dropdown-content a {
            float: none;
            color: black;
            text-decoration: none;
            display: block;
            text-align: left;
            padding: 4px 4px 4px 4px;
            margin: 5px 1px 1px 1px;
        }

.dropdown-content a:hover {
    background-color: black;
    color:white;
}

.show {
    display: block;
}

/* --------------------------------------------------- */
/* ---------------  top navigation bar --------------- */
.topnav {
    background-color: #f4e1d2;
    overflow: hidden;
    font-family: 'Lucida Console';
    font-weight: 200;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 15px 50px 0 0;
}

.search-container {
    color: black;
    text-decoration: none;
    width: 400px;
    font-size: 14px;
    float: right;
    margin: 0 0 10px 0;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
}
/*
        .topnav a:hover, .aDropdown:hover {
            color: #bc5a45;
        }
*/
        .topnav a:active {
            background-color: #bc5a45;
            color: white;
        }

        .topnav a.split {
            float: right;
            font-size: 14px;
        }
            .topnav a.split:hover {
                font-size: 14px;
                background-color: #f4e1d2;
                color: #bc5a45;
            }
    /*
    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        background-color: #d08b7c;
        color: black;
    }*/
    /*
        .topnav input[type=text]::placeholder {
            color: #f4e1d2;
            font-family: Lucida Console;
            font-weight: 200;
            font-size: 17px;
        }*/
    .topnav .icon {
        display: none;
    }

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a, .topnav responsive dropdown {
            float: none;
            display: block;
            text-align: left;
        }
}
/*@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}*/



/* ----------------------------------------------- */
/* ---------------  general button --------------- */
button {
    background-color: black;
    color: #f4e1d2;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 7px;
    text-transform: uppercase;
    padding: 8px 0 8px 0;
    font-family: 'Lucida Console';
    font-size: 14px;
}

    button:hover {
        color: #B07C70;
        background-color: black;
    }

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
/* ------------------------------------------------------- */
/* ---------------  close button for popup --------------- */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

    .close:hover, .close:focus {
        color: dimgray;
        cursor: pointer;
    }
/* --------------------------------------------- */
/* ---------------  popup window --------------- */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4e1d2;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 1, 0.9);
    z-index: 9999;
    text-align: center;
    width: 600px;
}

    .popup h3 {
        color: black;
        font-size: 14px;
        font-family: 'Verdana';
        text-transform: uppercase;
        font-weight: 600;
    }

    .popup .paymentTitles {
        color: black;
        font-size: 13px;
        font-family: 'Verdana';
        text-transform: capitalize;
        font-weight: 400;
        padding: 0 0 3px 0;
    }
.popup-input {
    background-color: #f1f1f1;
    font-family: 'Verdana';
    font-size: 14px;
    text-transform: capitalize;
    padding: 3px 0 5px 10px;
    text-align: left;
    margin: 0 0 20px 0;
    width: 180px;
}

.popup-inputCVV {
    background-color: #f1f1f1;
    font-family: 'Verdana';
    font-size: 14px;
    text-transform: capitalize;
    padding: 3px 0 5px 10px;
    text-align: left;
    margin: 0 0 20px 0;
    width: 60px;
}
.payment-info {
    margin: 80px 0 0 0;
}
.dateCode {
    display: inline-block;
}
.popup input[type=text]::placeholder, input[type=password]::placeholder, .custom-textbox::placeholder {
    color: black;
    background-color: #f1f1f1;
    font-family: 'Verdana';
    font-weight: 200;
    font-size: 13px;
    border: none;
}

.form-group p {
    display: inline-block;
    width: 120px;
    margin: 0;
}

#elementContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #elementContainer > * {
        margin: 5px;
    }

.custom-validation-message {
    font-family: 'Lucida Console';
    font-weight: 200;
    font-size: 14px;
    color: black;
}
/* ---------------------------------------- */
/* ---------------  sidebar --------------- */
.tab {
    height: 100%;
    position: fixed;
    width: 130px;
    top: 50px;
    overflow: hidden;
    float: left;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
    visibility: hidden;
    left: 24px;
    transition: 0.5s;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

    .tab button {
        background-color: inherit;
        border: none;
        outline: none;
        padding: 6px 0 6px 22px;
        transition: 0.3s;
        font-size: 14px;
        width: 100%;
        text-align: left;
        text-decoration: none;
        color: #818181;
        display: block;
        background: none;
        text-align: left;
        cursor: pointer;
        font-family: 'Lucida Console';
        text-transform: uppercase;
    }

        .tab button:hover {
            color: #f1f1f1;
        }

        .tab button.active {
            color: #c48a7d;
            font-size: 16px;
            font-weight: 400;
        }

.tabcontent {
    display: none;
    padding-top: 13px;
    padding: 6px 12px;
    margin-top: 60px;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: auto;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}


    .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }
        /* On mouse-over */
        .sidenav a:hover, .sidenav .dropdown-btn:hover {
            color: #f1f1f1;
        }

/* -------------------------------------------- */
/* ---------------  cart styles --------------- */
.sidenavCart {
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 50px;
    background-color: #c48a7d;
    overflow-x: hidden;
    transition: 0.5s;
    color: black;
    box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.2);
}

    .sidenavCart h1 {
        padding: 20px;
        margin: 0;
        font-weight: 300;
    }

    .sidenavCart .prodCartImage {
        width: 60px;
    }

    .sidenavCart .quantity {
    }

.cartItem {
    overflow-y: scroll;
    background-color: #c48a7d;
}

    .cartItem .prodCartImage {
        width: 60px;
    }

.sidenavCart .cartList {
    position: relative;
    min-height: 350px;
}

.sidenavCart .cartActions {
    width: 100%;
    bottom: auto;
    position: absolute;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    font-family: 'Lucida Console';
    text-transform: uppercase;
    padding: 10px;
    cursor: context-menu;
}

    .sidenavCart .cartActions .cartActionsBtn, .sidenavCart .cartActions .cartTotal {
        color: black;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 15px 15px 15px;
    }

        .sidenavCart .cartActions .cartActionsBtn:hover {
            background-color: #B07C70
        }

.sidenavCart a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenavCart .name, .sidenavCart .prodPrice {
    font-size: 13px;
    padding: 14px 10px 0 0;
    white-space: normal;
    overflow: hidden;
}

.sidenavCart .prodPrice {
    font-size: 13px;
    padding: 14px 10px 0 0;
    white-space: nowrap;
}



.sidenavCart .topCart .cartTitle {
    font-family: 'Lucida Console';
    font-weight: 200;
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    margin: 30px 0 30px 0;
    text-align: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.tableCheckout .cartList {
/*    display: flex;
    flex-direction: column;
    justify-content: flex-start;*/
}

    .tableCheckout .cartList .cartTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-family: 'Lucida Console';
        font-weight: 200;
        font-size: 20px;
        font-weight: bolder;
        color: black;
        text-transform: uppercase;
        margin: 30px 0 30px 0;
        text-align: center;
        flex-flow: column;
    }


.sidenavCart .closebtnCart {
    text-align: right;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.listCart {
    overflow-y: auto;
}

    .listCart .quantity {
        display: inline-block;
    }

        .listCart .quantity span {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: grey;
            color: black;
            padding: 0 0 13px 0;
            border-radius: 50%;
            cursor: pointer;
            font-size: 13px;
            font-weight: 200;
        }

.productsAmount .quantity .minus, .productsAmount .quantity .plus {
    font-size: 12px;
}

.productsAmount .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
}

#main {
    transition: margin-right .5s;
    padding: 16px;
}
/* --------------------------------------------------- */
/* --------------- main content window --------------- */
.main {
    position: fixed;
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    color: white;
}

/* Dropdown container (hidden by default).*/
.sidedropdown-container {
    display: none;
    background-color: transparent;
    padding-left: 8px;
}

    .sidedropdown-container a {
        display: block;
        color: #818181;
        font-family: 'Lucida Console';
        text-transform: uppercase;
        padding: inherit;
        font-size: 14px;
        margin: 10px 10px 5px 10px;
        cursor: pointer;
    }

    .sidedropdown-container a:hover {
        color: #f1f1f1;
    }

.fa-caret-downSide {
    color: azure;
    float: right;
    padding-right: 8px;
}
/* ------------------------------------------ */
/* ---------------  slideshow --------------- */
* {
    box-sizing: border-box
}

/*  Slideshow container */
.slideshow-container {
    position: fixed;
    top: 60px; 
    left: 0;
    z-index: 100;
    width: 100%;
    overflow: auto;
}

.mySlides {
    display: none;
}

.element {
    display: flex;
    align-items: center;
}

    .element img {
        flex: 0 0 auto;
        width: 70%;
    }

.slideText {
    flex: 0 0 auto;
    width: 30%;
    text-align: center;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }


.textSlideShow {
    color: black;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Lucida Console';
    font-weight: 200;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/* ------------------------------------------------ */
/* ---------------  products styles --------------- */

.prodCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 250px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

    .prodCard .prodDesctiption {
        padding: 16px;
        flex-grow: 1;
        overflow-y: auto;
    }

.prodGrid .prodCard .prodDesctiption .productButtons {
    align-items: center;
    display: flex;
    justify-content: center;
}

.productButtons button {
    border: none;
    outline: 0;
    padding: 7px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: auto;
    flex: 0 0 auto;
    font-family: 'Lucida Console';
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 0 10px 0 0;
}

.wishButtons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 13px 0 7px 0;
    align-items: center;
}

    .wishButtons button {
        border: none;
        outline: 0;
        padding: 5px 10px 13px 10px;
        color: #f4e1d2;
        background-color: black;
        cursor: pointer;
        width: auto;
        flex: auto;
        font-family: 'Lucida Console';
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        margin: 0 10px 0 0;
    }
.prodImage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.desctiprionLayer {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    overflow-y: auto;
    max-width: 250px;
}

.productButtons p {
    display: inline-block;
}

.desctiprionLayerText {
    background-color: transparent;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
    width: 250px;
}

.imageContainer {
    position: relative;
    width: 100%;
}



.imageContainer .outOfStock .prodMsg {
    text-align: center;
}

    .imageContainer:hover .prodImage {
        opacity: 0.5;
    }

    .imageContainer:hover .desctiprionLayer {
        opacity: 1;
    }

.originPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prodTable {
    margin-left: 200px;
}
/* ------------------------------------------------ */
.prodGrid {
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* maincontent div for the main div in admin page */
.content {
    padding-left: 150px;
}



.checkoutSideColor {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #c48a7d;
    margin: 66px 0 0 0;
}

.centerCheckout {
    width: 600px; 
    height: auto; 
    background-color: #B07C70;
    text-align: center;
    box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;

}

    .centerCheckout .tableCheckout {
        width: 600px; 
        height: 100vh; 
    }

.checkoutDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: unset; /* Align items to the start (top) of the flex container */
    color: blue;
}

.desElement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-family: 'Lucida Console';
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.scrollable {
    height: 100px;
    overflow: auto;
    padding: 5px;
}

.icon-container {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.popup-container {
    display: flex;
    flex-flow: row;
    text-align: left;
    margin: 0 0 0 30px;
}

.popupTotal {
    color: black;
    font-size: 18px;
    font-family: 'Verdana';
    font-weight: 600;
    text-transform: uppercase;
    margin: 18px 0 0 0;
}
.popup-col {
    width: 300px;
}

.adress-info {
    margin: 39px 0 0 0;
}
/*.popup-container.active{
    opacity: 1;
    pointer-events: auto;
}

.popup-container .popup-box {
    width: 500px;
    background-color: green;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 30px;
    opacity: 0;

}

.popup-box h1 {
    color: #333;
}

.popup-box .popup-closeBtn {
    width: 100%;
    height: 45px;
    background-color: aquamarine;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}*/
.sortselect {
    border: none;
    outline: 0;
    padding: 7px;
    color: white;
    background-color: #000;
    cursor: pointer;
    width: auto;
    flex: 0 0 auto;
    font-family: 'Lucida Console';
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 0 10px 0 0;
    border-radius: 13px;
    float: right;

}

/* --------------------TRACKING DIV---------------*/
.hh-grayBox {
    background-color: #F8F8F8;
    margin-bottom: 20px;
    padding: 35px;
    margin-top: 20px;
}

.pt45 {
    padding-top: 45px;
}

.order-tracking {
    text-align: center;
    width: 33.33%;
    position: relative;
    display: block;
}

    .order-tracking .is-complete {
        display: block;
        position: relative;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        border: 0px solid #AFAFAF;
        background-color: #f7be16;
        margin: 0 auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
        z-index: 2;
    }

        .order-tracking .is-complete:after {
            display: block;
            position: absolute;
            content: '';
            height: 14px;
            width: 7px;
            top: -2px;
            bottom: 0;
            left: 5px;
            margin: auto 0;
            border: 0px solid #AFAFAF;
            border-width: 0px 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0;
        }

    .order-tracking.completed .is-complete {
        border-color: #27aa80;
        border-width: 0px;
        background-color: #27aa80;
    }

        .order-tracking.completed .is-complete:after {
            border-color: #fff;
            border-width: 0px 3px 3px 0;
            width: 7px;
            left: 11px;
            opacity: 1;
        }

    .order-tracking p {
        color: #A4A4A4;
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 0;
        line-height: 20px;
    }

        .order-tracking p span {
            font-size: 14px;
        }

    .order-tracking.completed p {
        color: #000;
    }

    .order-tracking::before {
        content: '';
        display: block;
        height: 3px;
        width: calc(100% - 40px);
        background-color: #f7be16;
        top: 13px;
        position: absolute;
        left: calc(-50% + 20px);
        z-index: 0;
    }

    .order-tracking:first-child:before {
        display: none;
    }

    .order-tracking.completed:before {
        background-color: #27aa80;
    }
.row.justify-content-between {
    display: flex;
}

/*--------------confirm-----------------------*/
/*#confirm {
    display: none;
    background-color: rgb(194, 195, 251);
    border: 1px solid green;
    position: fixed;
    height: 80px;
    width: 250px;
    left: 40%;
    top: 2%;
    padding: 6px 8px 8px;
    text-align: center;
}

p {
    font-size: 18px;
    color: red;
}

button {
    border-radius: 12px;
    height: 2rem;
    padding: 7px 10px;
    cursor: pointer;
    border: 2px solid green;
    background-color: aqua;
    margin: 5px;
}

.close {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 0px;
}*/