 html {
    background-color: black;
}

data-bs-theme{
    background-color:black;
}
body {
    .MainSec
    {
        max-width: 50%;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
    }
    ul,li,h2,h3,p {
        color: #7B0323; 
    }


    .mainPic figure {
        min-width: 100%;
    }
